fastapi==0.110.0
python-multipart==0.0.9
uvicorn==0.29.0
numpy
mediapipe==0.10.18
protobuf==4.25.3
opencv-python-headless
sqlalchemy
psycopg2
python-dotenv
pydantic[email]
email-validator
google-generativeai
imageio-ffmpeg
passlib[bcrypt]
bcrypt==4.0.1
faster-whisper
groq